/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Apply styles */
html,
body {
  font-family: 'Inter', sans-serif;
  background-color: #1b1c21;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide scrollbars */
}

#root,
.app {
  width: 100%;
}

